@font-face {
	font-family: cool_font;
	src: url('../share/LeckerliOne-Regular.otf');
}

html {
   height: 100%;
} 

h1{
	font-weight: normal;
}

body {
   font-family: "myriad pro";
   font-weight:lighter;
   font-size:110%;
   margin: 0;
   height: 100%;
   width: 100%; /* needed for Firefox */
   color: white;
   background-color : #6e4c5a;
   overflow:hidden;
} 

.hasback{
	background-color: #6e4c5a;
}


#menu{
	padding-left:60px;
	padding-top:60px;
	z-index: 999;
	position: relative;

}
#menu h1{
	font-size:500%;
	font-family: cool_font;
	margin: 0em;
	display: inline-block;
}
img{ margin:0; padding:0;}


#menu li{
	opacity:0.4;
	display: inline;
	position:relative;
	margin: 0;
	margin-right: -4px;
	padding:0;
	border:0;
	bottom:0;
	z-index:999;
	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;    
    transition: opacity 0.2s ease-in-out;
}
#menu li.selected{
	opacity:1;
}

#menu h1 {
	z-index: 990;
	position: relative;
}
#menu #connection{
	display: inline-block;
	width: 200px;
	margin-right: 50px;	
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 900;

}

#menu li:hover{
	opacity:1;
}

#menu li div.tooltip{
	margin-bottom: 5px;
	width:250px;
	text-align : center;
	font-size:80%;
    position:absolute;     
	top:-60px; 
	opacity:0;
	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;    
    transition: opacity 0.2s ease-in-out;
}

#menu li#menu1 div.tooltip{left:0px;}
#menu li#menu2 div.tooltip{left:-50px;}
#menu li#menu3 div.tooltip{left:-100px;}
#menu li#menu4 div.tooltip{left:-150px;}
#menu li#menu5 div.tooltip{left:-200px;}




#menu li div.tooltip img{
	margin-top:5px;
}


#menu li:hover div.tooltip{
	opacity:1;    
}
#menu ul{
	display: inline;
	margin-left:25px;
	padding:0;
}
ul{
	list-style-type: none;
	padding-left:0;
}

a{
	text-decoration: none;
	color: white;
}



#centercontainer{
  width:100%;
}

#bandcontainer{
	width:100%;
	padding-top:0.3em;
	padding-bottom:0.3em;
	min-height: 2.6em;
	max-height: 2.6em;
	height: 2.6em;
	z-index: 800;
	position:relative;
	overflow: hidden;
}

#wheel{
	display: inline-block;
	margin-left: 60px;
	opacity:0.5;
}

#wheel:hover{
	opacity:1;
}

#highlightcontainer{
	display: inline-block;
}

.firstcolor{
	background-color : #6e4c5a;
}
.secondcolor{
	background-color:#4F3742;
}

.clickable{ cursor: pointer; cursor: hand; 
	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;    
    transition: opacity 0.2s ease-in-out;
}


input:focus{
	outline: none;
}

#rightpanel{
	padding:2em;
	position: absolute;
	z-index:999;
	right:0;
	top:0;
	height:100%;
	width: 35%;
	box-shadow: -10px -10px 10px rgba(10,10,10,0.5);
	background-image:url(../img/filigrane-01.png);
	background-repeat:no-repeat;
	background-position:right bottom;
}


#rightpanel #container h1{
	font-family: cool_font;
	text-align: center;
}
#searchfield{
	width: 354px;
	height: 100%;
	margin: auto;
}
#searchfield form div{
	width: 300px;
	display: inline-block;
}

#searchfield img{
	margin: 0;
	padding: 0;
	opacity: 0.5;
}
#searchfield img:hover{
	opacity: 1;
}

#searchfield input[type=text]{
	width:100%;
	border:none;
	line-height:3em;
	padding-left: 5px;
	font-size: 80%;
	background-color: transparent;
	color: white;
}

#highlightcontainer .recipe{
	display: block;
	margin-left:1.6em;
}
#bandcontainer img{
	vertical-align:top;
}

#uppercontainer, #lowercontainer{
	width:100%;
} 

#lowerlist{
	max-height:100%;
	height:100%;
}
#uppercontainer{
	margin-top:2.4em;
}

#uppercontainer img{
	vertical-align : bottom;
}
#lowercontainer{
	padding-bottom:5px;
	overflow:hidden;
	height:100%;
}

.border{
	opacity:0;
}

#highlightcontainer .recipe{
	font-family: cool_font;
	font-size: 200%;
}

.recipelist{
	display: inline-block;
	overflow: hidden;
	max-height: 3.6em;
	opacity:0.8;
	padding-left:40px;

}
.recipe{
	position: relative;
}


.navigarrow{
	display: inline-block;
	margin: 0.3em;
	margin-left: 60px;
	opacity:0.4;
	position:relative;
	z-index:900;
}

.navigarrow:hover{
	opacity:1;
}
.navigarrow.down{
	top:0;
	vertical-align:top;
}

#line{
	border: solid 0.2em white;
	border-left: 0;
	border-right: 0;
	width:100%;
	padding-top:1em ; 
	padding-bottom:1em ;
}

#bottom_gradient{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-image:url("../img/bottomgradient.png");
	background-position: left bottom;
	background-repeat:repeat-x;
}
#top_gradient{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-image:url("../img/topgradient.png");
	background-position: left top;
	background-repeat:repeat-x;
	z-index: -999;
}

#loading{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -53px;
    z-index: 5000;
    display: none;
}

.createrecipe label{
	font-family: cool_font;
	display: block;
	margin-top: 1.5em;
}
.createrecipe input{
	border: none;

}
.createrecipe h1{
	font-family: cool_font;
	margin-bottom: 0.5em;
	text-align: center;

}

.createrecipe textarea{

}

#rightpanel #loadingrecipe{
	position: absolute;
	z-index: 1000;
	top:50%;
	left: 50%;
	margin-left:-17px;
	display: none;
}

*::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
}
*:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}
input:focus::-webkit-input-placeholder { /* WebKit browsers */
    opacity: 0.5;
}
input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity: 0.5;
}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity: 0.5;
}
input:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
    opacity: 0.5;
}


.overlay{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	position: fixed;
	top:0;
	left:0;
	z-index: 1111;
	display: 	none;
}

#homecontainer{
	position: absolute;
	height: 60%;
	width: 50%;
	bottom: 0;
	right: 0;
	background-size: contain;
	background-image:url(/img/filigrane-00.png);
	background-repeat:no-repeat;
	background-position:right bottom;
}

#loginscreen{
    position: fixed;
    top:0;
    right:0;
    width:250px;
    height:400px;
    margin-right: 50px;
    margin-top: -10px;
    opacity: 1.0;
    z-index: 1002;
    box-shadow: -10px 10px 10px rgba(10,10,10,0.5);
    text-align: center;
    display: none;

}
#loginscreen h1{
	font-family: cool_font;
	text-align: center;
	margin: 0;
	padding: 0;

	margin-top: 50px;
}

#loginscreen input[type=text], #loginscreen input[type=password]{
	border: 0;
	opacity: 0.8;
	color: white;
	padding: 10px;
	width:180px;
	font-size: 70%;
	display: block;
	margin-top: 1em;
	margin-left: 25px;
}

#loginscreen input[type=image]{
	opacity: 1;
	text-align: center;
	float:right;
	margin-top: 10px;
	margin-right: -14px;
}
#loginscreen p{
	margin-top: 80px;
	width: 200px;
	display: block;
	margin-left: 25px;
}
#loginscreen a {
	display: block;
}


#loginscreen input[type=text]:focus, #loginscreen input[type=password]:focus{
	border: 0;
	opacity: 1;
}

#messagebox{
	width:20%;
	position: absolute;
	z-index: 9000;
	padding: 10px;
	top:40%;
	left: 40%;
	text-align: center;
	display: none;

}
#messagebox h1{
	font-family: cool_font;
	margin: 0;
	padding: 0;
	text-align: center;
}

#messagebox p{
	text-align: center;
}

#messagebox input{
	color: white;
	border: 0;
	padding: 0.5em;
	width: 50%;
}



#footer{
	font-size: 50%;

	position:absolute;
	bottom:0;
	left:10px;
}

