@font-face {
	font-family: cool_font;
	src: url('../share/LeckerliOne-Regular.otf');
}

html {
   height: 100%;
} 

body {
   font-family: "myriad pro";
   font-weight:lighter;
   font-size:110%;
   margin: 0;
   height: 100%;
   width: 100%; /* needed for Firefox */
   color: white;
   background-color : #6e4c5a;
   overflow:hidden;
} 

.hasback{
	background-color: #6e4c5a;
}


#menu{
	padding-left:60px;
	padding-top:60px;
	z-index: 999;

}
#menu h1{
	font-size:500%;
	font-family: cool_font;
	margin: 0em;
	display: inline-block;
}
img{ margin:0; padding:0;}


#menu li{
	opacity:0.4;
	display: inline;
	position:relative;
	margin: 0;
	margin-right: -4px;
	padding:0;
	border:0;
	bottom:0;
	z-index:999;
	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;    
    transition: opacity 0.2s ease-in-out;
}
#menu li.selected{
	font-weight:bold;
	opacity:1;

}

#menu li:hover{
	opacity:1;
}

#menu li div.tooltip{
	margin-bottom: 5px;
	width:250px;
	text-align : center;
	font-size:80%;
    position:absolute;     
	top:-60px; 
	opacity:0;
	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;    
    transition: opacity 0.2s ease-in-out;
}

#menu li#menu1 div.tooltip{left:0px;}
#menu li#menu2 div.tooltip{left:-50px;}
#menu li#menu3 div.tooltip{left:-100px;}
#menu li#menu4 div.tooltip{left:-150px;}
#menu li#menu5 div.tooltip{left:-200px;}




#menu li div.tooltip img{
	margin-top:5px;
}


#menu li:hover div.tooltip{
	opacity:1;    
}
#menu ul{
	display: inline;
	margin-left:25px;
	padding:0;
}
ul{
	list-style-type: none;
	padding-left:0;
}

a{
	text-decoration: none;
	color: white;
}



#centercontainer{

  width:100%;
 
}

#bandcontainer{
	width:100%;
	padding-top:0.3em;
	padding-bottom:0.3em;
	min-height: 2.6em;
	max-height: 2.6em;
	height: 2.6em;
	z-index: 800;
	position:relative;
	overflow: hidden;
}

#wheel{
	display: inline-block;
	margin-left: 60px;
	opacity:0.5;
}

#wheel:hover{
	opacity:1;
}

#highlightcontainer{
	display: inline-block;
}

.firstcolor{
	background-color : #6e4c5a;
}
.secondcolor{
	background-color:#4F3742;
}

.clickable{ cursor: pointer; cursor: hand; 
	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;    
    transition: opacity 0.2s ease-in-out;}


#rightpanel{
	padding:2em;
	position: absolute;
	z-index:999;
	right:0;
	top:0;
	height:100%;
	width: 35%;
	box-shadow: -10px -10px 10px rgba(10,10,10,0.5);
	background-image:url(../img/filigrane-01.png);
	background-repeat:no-repeat;
	background-position:right bottom;
}

#highlightcontainer .recipe{
	display: block;
	margin-left:1.6em;
}
#bandcontainer img{
	vertical-align:top;
}

#uppercontainer, #lowercontainer{
	width:100%;
} 

#lowerlist{
	max-height:100%;
	height:100%;
}
#uppercontainer{
	margin-top:2.4em;
}

#uppercontainer img{
	vertical-align : bottom;
}
#lowercontainer{
	padding-bottom:5px;
	overflow:hidden;
	height:100%;
}

.border{
	opacity:0;
}

#highlightcontainer .recipe{
	font-family: cool_font;
	font-size: 200%;
}

.recipelist{
	display: inline-block;
	overflow: hidden;
	max-height: 3.6em;
	opacity:0.8;
	padding-left:40px;

}
.recipe{
	position: relative;
}


.navigarrow{
	display: inline-block;
	margin: 0.3em;
	margin-left: 60px;
	opacity:0.4;
	position:relative;
	z-index:900;
}

.navigarrow:hover{
	opacity:1;
}
.navigarrow.down{
	top:0;
	vertical-align:top;
}

#line{
	border: solid 0.2em white;
	border-left: 0;
	border-right: 0;
	width:100%;
	padding-top:1em ; 
	padding-bottom:1em ;
}

#bottom_gradient{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-image:url("../img/bottomgradient.png");
	background-position: left bottom;
	background-repeat:repeat-x;
}
#top_gradient{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-image:url("../img/topgradient.png");
	background-position: left top;
	background-repeat:repeat-x;
	z-index: -999;
}

#loading{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    z-index: 999;
    display: none;
}

input{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}

.createrecipe label{
	font-family: cool_font;
	display: block;
	margin-top: 1.5em;
}
.createrecipe input{
	border: none;

}
.createrecipe h1{
	font-family: cool_font;
	margin-bottom: 0.5em;
	text-align: center;

}

.createrecipe textarea{

}


.overlay{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	position: fixed;
	top:0;
	left:0;
	z-index: 1001;
	display: 	none;
}

.overlay-message{
    position: fixed;
    top:50%;
    left:50%;
    width:340px;
    height:200px;
    margin-top: -100px;
    margin-left: -170px;
    opacity: 1.0;
    z-index: 1002;
    box-shadow: -10px 10px 10px rgba(10,10,10,0.5);
    padding: 2em;
    text-align: center;
    display: none;
}
.overlay-message h1{
	font-family: cool_font;
	margin: 0;
	padding: 0;
}

.overlay-message input[type=text], .overlay-message input[type=password]{
	width:100%;
	line-height: 1.8em;
	display: block;
	margin-top: 1em;
}

.overlay-message #connecting{
	
}






#footer{
	font-size: 50%;

	position:absolute;
	bottom:0;
	left:10px;
}

