<div id="centercontainer">
	<div id="uppercontainer">
		<img class="navigarrow up clickable" src="img/arrow_up.png" onclick="spin(-1);"/>
		<div id="upperlist" class="recipelist">
			<div class="recipe">Elem 1</div>

		</div>
	</div>
	<div id="bandcontainer" class="secondcolor">
		<img src="img/roue.png" id="wheel" class="clickable" onclick="luckywheel();"/>
		<div id="highlightcontainer" > 
			<div class="recipe">Elem 3</div>
		</div>	
	</div>
	<div id="lowercontainer">
		<img class="navigarrow down clickable" src="img/arrow_down.png" onclick="spin(1);"/>
		<div id="lowerlist" class="recipelist">

		</div>
	</div>
</div>
</div>
<div id="rightpanel" class="secondcolor">
	
	<form class="createrecipe">
		<h1>Nouvelle recette</h1>
		<label>Titre :</label><input  class="firstcolor" type="text" name=""/>
		<label>Mots-clés :</label>
		<input id="taglist" type="text" class="firstcolor" name="taglist"/>
		<label>Recette :</label>
		<textarea class="firstcolor" ></textarea>

	</form>
</div>

<div class="overlay"></div>
<div id="loginscreen" class="overlay-message firstcolor">
	<form action="#" method="post">
		<h1>Connexion</h1>
		<input type="text" placeholder="Adresse e-mail"/>
		<input type="password" placeholder="Mot de passe"/>
		<a href="#">Mot de passe oublié ?</a>

		<a>Créer un compte</a></li>
		<input type="submit" value="Connecter" onclick="connection();return false;"/>
	</form>
	<div id="connecting"><h1>Connexion en cours...</h1></div> 
</div>
	
<script type="text/javascript">
	var timestamp="<%= timestamp %>";
</script>

