<div id="centercontainer">
	<div id="upperlist" class="recipelist">

			<div class="recipe">Elem 1</div>
			<div class="recipe">Elem 2</div>
			<div class="recipe">Elem 3</div>
			<div class="recipe">Elem 4</div>
			<div class="recipe">Elem 5</div>
			<div class="recipe">Elem 6</div>
			<div class="recipe">Elem 7</div>
			<div class="recipe">Elem 8</div>

	</div>
	<div id="highlightcontainer"> <div class="recipe highlight">Aucune de recette. </div>
	&nbsp</div>	
	<div id="lowerlist" class="recipelist">
			<div class="recipe">Elem 9</div>
			<div class="recipe">Elem 10</div>
			<div class="recipe">Elem 11</div>
			<div class="recipe">Elem 12</div>
			<div class="recipe">Elem 13</div>
			<div class="recipe">Elem 14</div>
			<div class="recipe">Elem 15</div>
			<div class="recipe">Elem 16</div>
	</div>
</div>