<div id="centercontainer">
	<div id="uppercontainer">
		<img class="navigarrow up clickable" src="img/arrow_up.png" onclick="spin(-1);"/>
		<div id="upperlist" class="recipelist">
			<div class="recipe">Elem 1</div>
		</div>
	</div>
	<div id="bandcontainer" class="secondcolor">
		<img src="img/roue.png" id="wheel" class="clickable" onclick="luckywheel();"/>
		<div id="highlightcontainer" > 
			
			<div class="recipe highlight">
				Aucune recette. 
			</div>
		</div>	
	</div>
	<div id="lowercontainer">
		<img class="navigarrow down clickable" src="img/arrow_down.png" onclick="spin(1);"/>
		<div id="lowerlist" class="recipelist">

		</div>
	</div>
</div>
</div>
<div id="rightpanel" class="secondcolor">
contenu
</div>