<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/selectize.css" type="text/css" />
		<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
		<title>Rata. <%= @pagename %></title>
	</head>
	<body>
		<style>
			.firstcolor, body{
				background-color: <%= @firstcolor %>;
			}
			.secondcolor{
				background-color: <%= @secondcolor %>;
			}
		</style>
		<div id="top_gradient"></div>
		<div>
			<div id="menu">
				<h1><a href="/" name="0" title=""><img src="/img/logo.png" /></a></h1>
				<ul>
					<li id="menu1" <% if(@pagenumber==1) %> class="selected "<% end %>	><div class="tooltip">Amuse-bouches<img src="/img/topping_arrow-01.png"/></div><a title="Amuse-bouches" name="1" href="/recipes/1" ><img src="/img/picto-01.png"></a></li>
					<li id="menu2" <% if(@pagenumber==2) %> class="selected "<% end %>	><div class="tooltip">Entrées<img src="/img/topping_arrow-02.png"/></div><a title="Entrées" name="2" href="/recipes/2" ><img src="/img/picto-02.png"></a></li>
					<li id="menu3" <% if(@pagenumber==3) %> class="selected "<% end %>	><div class="tooltip">Plats<img src="/img/topping_arrow-03.png"/></div><a title="Plats" name="3" href="/recipes/3" ><img src="/img/picto-03.png"></a></li>
					<li id="menu4" <% if(@pagenumber==4) %> class="selected "<% end %>	><div class="tooltip">Accompagnements<img src="/img/topping_arrow-04.png"/></div><a title="Accompagnements" name="4" href="/recipes/4" ><img src="/img/picto-04.png"></a></li>
					<li id="menu5" <% if(@pagenumber==5) %> class="selected "<% end %>	><div class="tooltip">Desserts<img src="/img/topping_arrow-05.png"/></div><a title="Desserts" name="5" href="/recipes/5"><img src="/img/picto-05.png"></a></li>
				</ul>
			</div>
		<%= yield %>
		<div id="bottom_gradient"></div>
		<div id="footer">
			Création originale <a href="https://twitter.com/Lolyan_">@lolyan_</a> et <a href="https://twitter.com/mrlapinou">@mrlapinou</a>.
		</div>
		<div id="loading"><img src="/img/loading.gif" /></div>
		
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/js/jquery.history.js"></script>
		<script src="/js/slot.js"></script>
		<script src="/js/selectize.js"></script>
		<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>