<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
		<title>Rata.</title>
	</head>
	<body>
		<div id="top_gradient"></div>
		<div id="menu">
			<h1>Rata.</h1>
			<ul>
				<li class=""><a href="#">Amuse-bouche</a></li>
				<li class=""><a href="#">Entrées</a></li>
				<li class="selected"><a href="#">Plats</a></li>
				<li class=""><a href="#">Accompagnements</a></li>
				<li class=""><a href="#">Desserts</a></li>
			</ul>
		</div>
		<%= yield %>
		<div id="bottom_gradient"></div>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="js/slot.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>